
@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E6E6FA;
}
:root{
    --main-color:#5f0f40;
    --main-font:font-family: 'Roboto', sans-serif;
    --primary-font:font-family: 'Playfair Display', serif;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.7rem;
}
ul li{
    display: inline;
    margin:23px;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: normal;

    
}
nav h1{
    font-weight: bolder;
    font-family: 'Rubik Burned', system-ui;
    font-size: 2.2rem;
    
}
nav a:hover{
    border-bottom: 2px solid var(--main-color);
    transition: ease-in;
}
header{
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
    height:85vh;
 }
header p{
    max-width:400px;
    font-family: var(--primary-font);
    font-size: 1.03rem;
    padding-bottom: 30px;
 }
 header h1{
    font-family: var(--main-font);
    font-size: 4rem;
    font-weight: bolder;
    padding-bottom: 25px;
 }
 header button{
    height:40px;
    width:135px;
    background-color: var(--main-color);
    color: white;
    font-family: var(--primary-font);
    text-align: center;
    font-size: 1.05rem;
    
 }
 header button:hover{
    border-color: var(--main-color);
    background-color: white;
    color: var(--main-color);
    font-size: 1.06rem;
    transition: ease-in;
    transition-duration: .5s;
}
 header img{
    width:250px;
    height:330px;
 }
 .hm-cont{
    margin-top:5rem;
    display: flex;
    position: relative;
    height:50vh;
    width:30%;
 }
 .img1{
    position:absolute;
    margin-left: 10rem;
 }
 .img2{
    position: absolute;
    margin-top: 9rem;
 }
 section.exp {
    margin-top: 11rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
.imgpart img{
    height:400px;
    width: 340px;
 }
 section h1{
    font-family: var(--main-font);
    font-size: 4rem;
    padding-bottom: 20px;

 }
 .mnpart{
    margin-bottom: 2rem;
 }

 section p{
    max-width: 400px;
    font-family: var(--primary-font);
    font-size: 1.03rem;
    margin-bottom: 30px;
 }
section h4{
    font-size: 1.4rem;
    color: rgb(53, 51, 51);
}
.mnpart button{
    height:40px;
    width:135px;
    background-color: var(--main-color);
    color: white;
    font-family: var(--primary-font);
    text-align: center;
    font-size: 1.05rem;
    
 }
 .mnpart button:hover{
    border-color: var(--main-color);
    background-color: white;
    color: var(--main-color);
    font-size: 1.06rem;
    transition: ease-in;
    transition-duration: .5s;
}
.social{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    font: var(--primary-font);
    text-align: center;
    height: 50vh;
}
.social button{
    border: 1px solid var(--main-color);
    height:40px;
    width:120px;
    background-color: #5f0f40;
    font-size: 1.16rem;
    color: white;
    margin-right: 50px;
}
.social ul li a{
    margin-right: 50px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
   

}
.social ul {
    display: inline;;
    
}
section.hero{
    height:90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imgs img{
    height: 600px;
    width: 600px;
}
.hero p{
    margin-top:20px;
    max-width: 500px;
    font-family: var(--primary-font);
    font-size: 1.03rem;
}
.hero button{
    height:40px;
    width:135px;
    background-color: var(--main-color);
    color: white;
    font-family: var(--primary-font);
    text-align: center;
    font-size: 1.05rem;
    
 }
 .hero button:hover{
    border-color: var(--main-color);
    background-color: white;
    color: var(--main-color);
    font-size: 1.06rem;
    transition: ease-in;
    transition-duration: .5s;
}
.servicetype img{
    height:325px;
    width: 325px;
    border-radius: 30px;
}
.servicetype{
    margin-top:4rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.servicetype p{
    padding-top: 10px;
    max-width: 300px;
}
.servicetype h3{
    padding-top: 10px;
    font-size: 1.4rem;
}

.service{
    text-align: center;
}
.ppp{
    margin-top: 8rem;;
}
.servicetype button{
    height:40px;
    width:135px;
    background-color: var(--main-color);
    color: white;
    font-family: var(--primary-font);
    text-align: center;
    font-size: 1.05rem; 
    margin-bottom:5rem;   
}
.servicetype button:hover{
    border-color: var(--main-color);
    background-color: white;
    color: var(--main-color);
    font-size: 1.06rem;
    transition: ease-in;
    transition-duration: .5s;   
}
footer{
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
}
footer .mainpart{
    height: 60vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
footer .mainpart h2{
    font-family: var(--main-font);
    font-size: 2.3rem;
    color: white;
    padding-bottom: 20px;
}
footer .mainpart p{
    font-family: var(--primary-font);
    font-size: 1.1rem;
    text-align: center;
    color: white;
    margin-top:15px;
}
footer .copyright{
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.12rem;
    color: #E6E6FA;
}
span{
    font-weight: bolder;
}



